<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Welcome</title>
</head>
<body>
<h3>Name: <span th:text="${login.name}">Name Placeholder</span></h3>
<h3>Username: <span th:text="${login.username}">Username Placeholder</span></h3>
<h3>Email: <span th:text="${login.email}">Email Placeholder</span></h3>
<h3>Role: <span th:text="${login.role}">Role Placeholder</span></h3>
<h3>About: <span th:text="${login.about}">About Placeholder</span></h3>
<h3>Picture:
  <img th:src="${login.picture}" alt="User Picture" style="max-width: 200px; max-height: 200px;">
</h3>
<h3>Balance: <span th:text="${login.balance}">Balance Placeholder</span></h3>
</body>
</html>