<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login/login.css">
</head>
<body>
<div class="navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="logo">
        <img class="logo-img" src="/images/logo.png" alt="logo">
      </div>
      <div class="menu">
        <ul class="menu-list">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Log in</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a class="contact-btn" href="#">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
<main class="container">
  <div class="login-page">
    <!-- Form Section -->
    <section class="form-section">
<!--      <div class="back-button">
        <span class="icon"><span>&larr;</span></span>
        <p>Back</p>
      </div>-->
      <h1 class="page-title">Login</h1>
      <form th:action="@{/login}" th:object="${login}" method="post">
        <div class="form-group">
          <label for="email">Email/Username:</label>
          <input type="text" id="email" th:field="*{email}" placeholder="Enter Your Email" required />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <div class="password-input">
            <input type="password" id="password" th:field="*{password}" placeholder="Enter Your Email" required />
            <span class="icon-eye">👁</span>
          </div>
        </div>
        <div class="button">
          <button type="submit" class="login-btn">Login</button>
        </div>
      </form>
      <div class="container-dev">
        <p>You don't have an account yet. Please register to continue.</p>
        <a href="/register">Register Now</a>
      </div>
      <p class="terms">
        By logging in, you agree to the Deshimarket Terms of Service and to
        occasionally receive emails from us. Please read our Privacy Policy to learn how we use your personal data.
      </p>
    </section>

    <!-- Image Section -->
    <section class="image-section">
      <img src="/images/image1.jpg" alt="Login Illustration">
    </section>
  </div>
</main>

<!-- Thymeleaf error messages -->
<div th:if="${message}" th:text="${message}" class="message success"></div>
<div th:if="${error}" th:text="${error}" class="message error"></div>
</body>
</html>
